.footer {
  width: 100vw;
  height: auto;
  background-color: black;
  color: white;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: absolute;
  right: 0;
  .footer-logo {
    margin-top: 45px;
  }
  p {
    padding-bottom: 5px;

    @media (max-width: 376px) {
      font-size: 12px;
      width: 130px;
      height: 46px;
      text-align: center;
    }
  }
  @media (max-width: 376px) {
    gap: 5px;
  }
}
