.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 50px;

  .header-logo {
    max-height: 68px;
    max-width: 210px;
  }

  .header-nav {
    display: flex;
    gap: 30px;
    text-decoration: none;
    color: black;
  }

  .header-link {
    text-decoration: none;
    color: black;
  }
  .header-link.active {
    border-bottom: 1px solid;
  }
}
